:root{

    --primary:#df1e5a;
    --secondary:#ebb32e;
    --third:#2db67d;
    --fourth:#33c5ef;
    --black:#000000;
    --white:#ffffff;


}


p{

    margin-bottom: 0 !important;

}

img {

    max-width: 100%;

}

a{

    text-decoration: none !important;

}

body{


    background-color: var(--black) !important;
  

}



.custom-btn{

    padding: 0.5rem 2rem!important;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.primary-btn{

    background-color: var(--secondary); 
    color: var(--white);
    border: 1px solid var(--secondary);
    position: relative;
    transform: translate(-5px,-5px);
    transition: all .5s;

}
 
.primary-btn:hover{

    color: var(--white);
    transform: translate(0,0);

}

.primary-btn::after{

    content:"";
    border: 1px solid var(--secondary);
    width: 100%;
    border-radius: inherit;
    height: 100%;
    left: 7px;
    top: 7px;
    position: absolute;
    transition: all .5s;

}

 .primary-btn:hover::after{
    
    left: 0px;
    top: 0px;
    

} 

.logo{
  
  width: 50px;

  }


.custom-nav{

  background-color: transparent;
  position: fixed !important;
  width: 100%;
  z-index: 9999;


}

.custom-nav.active{

    background-color: var(--primary) !important;

}

.navbar-light .navbar-nav .nav-link{

  color: var(--white) !important;
  font-weight: 700;
  margin-right: 10px;

}

.navbar-nav{

    align-items: center;

}

.main{

    background: #0000008c;
    padding-bottom: 3rem;
  
  } 
  
  
  .main:after{
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../images/bg.jpg);
    background-position: top right;
    z-index: -1;
  
  }

.main-gif{

    height: 100vh;

}

.main-gif img{

    height: 100%;
    width: 100%;
    object-fit: cover;

}


.about-section{

    padding: 10rem 0;
    
}
.dual-heading {

color: var(--white);

}

.dual-heading h3{

    font-size: 20px;
}

.dual-heading h3:after{

    content: "";
    height: 5px;
    width: 7%;
    background-color: var(--primary);
    display: block;
    margin: 10px 0;
    
}


.dual-heading h2{

    font-size: 4rem;
}

.about-section p{

    color: var(--white);
    font-weight: 600;
    font-size: 1.5rem;

}


@keyframes nft-animate {
    0.0%{
    }
    100%{
    transform: translate(0,0px);
    }
    49.6%{
    transform: translate(0,-30px);
    }
    }
    
    
.animate{
animation: nft-animate 3s ease 0s infinite normal none;
}

.collection-box{

    padding:1rem;
    background-color: var(--black);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
    filter: grayscale(1);

}

.collection-box:hover{

    box-shadow: 0px 4px 20px 0px #000000;
    filter: grayscale(0);

}

.collection-box img{

    border-radius: inherit;

}

.section-title h2{

    text-align: center;
    color: var(--white);
    font-size: 3.5rem !important; 
    margin: 25px 0;

}

.accordion-item{

    margin-bottom: 20px;
    

}

.accordion-button {
    
    background-color: var(--primary) !important;
    color: var(--white) !important;
    font-weight: 700;
    border-bottom: 2px solid var(--white) !important;
    
}

.accordion-button:not(.collapsed){

    background-color: var(--primary) !important;

}

.accordion-button:focus{

    border-color: transparent;
    box-shadow: none !important;

}

.accordion-button::after{
    content: "\f107" !important;
    font-family: Font Awesome\ 6 Free;
    font-weight: 900 !important;
    background-image: none !important;

}

.team-box{


    background-color: var(--primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: var(--white);
    position: relative;
    cursor: pointer;
    

}

.team-box:hover img{

    width: 100%;
    margin:0;

}

.team-box:hover div{

    margin: -75px 0 0 0;
    border-radius: inherit;
    padding: 20px 0;
    
}

.team-box img{

    width: 250px; 
    border-radius: inherit;
    margin-top: -30px;
    transition: all 0.5s;

}

.team-box div{

    margin:20px 0;
    padding-bottom: 10px;
    transition: all 0.5s;
    width: 100%;
    text-align: center;
    background-color: var(--primary);

}

.team-box h4{

   font-weight: 700;
    
}


footer{
    
    background-color: var(--primary);
    padding: 5rem 0;
    

}

.first-footer p{

    color: var(--white);
    font-size: 18px;
    padding-top: 20px;

}

.second-footer h4{

    color: var(--white);
    margin-bottom: 15px;

}

.social{

    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    margin-bottom:0;

}

.social li:not(:last-child){

    margin-right: 35px;
}
.social li{

 width: 40px;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
border-radius: 50%;
background-color: var(--white);
  
  
}

.social li a{
    font-size: 1.5rem;
    color: var(--primary);
    
}

.footer-logo img{

    width:100px

}


.to-top {

    background-color:var(--secondary);
    position: fixed;
    transform: translate(-5px,-5px);
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all .5s;
    

}

.to-top::after{

    content:"";
    border: 1px solid var(--secondary);
    width: 100%;
    border-radius: inherit;
    height: 100%;
    left: 7px;
    top: 7px;
    position: absolute;
    z-index: -1;
    transition: all .5s;
    

}

.to-top:hover::after{
    
    left: 0px;
    top: 0px;
    

} 

.to-top button{

   
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    background-color: transparent;
    border: none;
    width: 100%;


}

.to-top:hover{
    transform: translate(0,0);

}

.to-top button:hover{

    color: var(--light);
   

}

/* ROADMAP */

.roadmap-meta{

    display: flex;
    justify-content: center;
    align-items: stretch;
  
  }
  
  .roadmap-meta .roadmap-img{
  
    width: 40%;
    text-align: center;
  
  }
  
  .roadmap-meta .roadmap-center{
  
    width: 10%;
    text-align: center;
    background: url(../images/4x4-grey-pixel.png);
    background-position: top center;
    background-repeat: repeat-y;
  }
  
  
  
  .roadmap-meta .phases{
  
    border: 2px solid var(--primary);
    background-color: var(--black);
    color: var(--white);
    
  
  }
  .roadmap-meta .phases p{
  
   margin-bottom: 0;
   padding: 10px;
  
  }
  
  .roadmap-meta .roadmap-data{
  
    padding: 0 30px;
    width: 70%;
    margin-bottom: 50px;
  
  
  }
  
  .roadmap-meta .roadmap-img img{
  
    width: 400px;
    padding: 4rem 0;
    border-radius: 50%;
  
  }
  
  .roadmap-meta .roadmap-center img{
  
    width: 50px;
  
  }
  
  .roadmap-box{
  
    color: var(--primary);
    padding:40px 25px;
    border: 1px solid var(--red);
    background: var(--red-dark);
    background-image: url(../images/logo.png);
    background-position: 100% 110%;
    background-size: 15%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    transition: all .5s;
    clip-path: polygon(95% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  }
  
  .roadmap-box:hover{
    box-shadow: 1px 1px 5px 1px var(--red);
  }
  
  .roadmap-box:after{
  
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .6;
    background: var(--black);
    transition: all .5s;
    
    }
  
  
  .roadmap-box h2{
  
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
  }

  .roadmap-box p{

    color: var(--white);

  }
  
  .roadmap-meta .roadmap-center .shape{
  
    
    margin: auto;
    background: var(--primary);
    box-shadow: 0 0 0 2px var(--white);
    height: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
  
  }